<PhysiCell_settings version="devel-version">
	<domain>
		<x_min>-500.0</x_min>
		<x_max>500.0</x_max>
		<y_min>-500.0</y_min>
		<y_max>500.0</y_max>
		<z_min>-10.0</z_min>
		<z_max>10.0</z_max>
		<dx>20.0</dx>
		<dy>20.0</dy>
		<dz>20.0</dz>
		<use_2D>true</use_2D>
	</domain>
	
	<overall>
		<max_time units="min">7200.0</max_time> 
		<time_units>min</time_units>
		<space_units>micron</space_units>
	
		<dt_diffusion units="min">0.01</dt_diffusion>
		<dt_mechanics units="min">0.1</dt_mechanics>
		<dt_phenotype units="min">6</dt_phenotype>	
	</overall>
	
	<parallel>
		<omp_num_threads>4</omp_num_threads>
	</parallel> 
	
	<save>
		<folder>.</folder>  

		<full_data>
			<interval units="min">60.0</interval>
			<enable>True</enable>
		</full_data>
		
		<SVG>
			<interval units="min">30.0</interval>
			<enable>True</enable>
		</SVG>
		
		<legacy_data>
			<enable>false</enable>
		</legacy_data>
	</save>
	
	<options>
		<legacy_random_points_on_sphere_in_divide>false</legacy_random_points_on_sphere_in_divide>
	</options>	

	<microenvironment_setup>
		<variable ID="0" name="resource" units="none">
			<physical_parameter_set>
				<diffusion_coefficient units="micron^2/min">100000.0</diffusion_coefficient>
				<decay_rate units="1/min">0.0</decay_rate>   
			</physical_parameter_set>
			<initial_condition units="none">1.0</initial_condition>
			<Dirichlet_boundary_condition enabled="true" units="none">1.0</Dirichlet_boundary_condition>
 

		</variable>
		
		<variable ID="1" name="signal A" units="none">
			<physical_parameter_set>
				<diffusion_coefficient units="micron^2/min">1000.0</diffusion_coefficient>
				<decay_rate units="1/min">0.1</decay_rate>  
			</physical_parameter_set>
			<initial_condition units="none">0.0</initial_condition>
			<Dirichlet_boundary_condition enabled="true" units="none">0.0</Dirichlet_boundary_condition>
 

 		</variable>
		
		<variable ID="2" name="signal B" units="none">
			<physical_parameter_set>
				<diffusion_coefficient units="micron^2/min">1000.0</diffusion_coefficient>
				<decay_rate units="1/min">0.1</decay_rate>  
			</physical_parameter_set>
			<initial_condition units="none">0.0</initial_condition>
			<Dirichlet_boundary_condition enabled="true" units="none">0.0</Dirichlet_boundary_condition>
 

 		</variable>

		<variable ID="2" name="signal C" units="none">
			<physical_parameter_set>
				<diffusion_coefficient units="micron^2/min">1000.0</diffusion_coefficient>
				<decay_rate units="1/min">0.1</decay_rate>  
			</physical_parameter_set>
			<initial_condition units="none">0.0</initial_condition>
			<Dirichlet_boundary_condition enabled="true" units="none">0.0</Dirichlet_boundary_condition>
 

 		</variable>

		<options>
			<calculate_gradients>True</calculate_gradients>
			<track_internalized_substrates_in_each_agent>True</track_internalized_substrates_in_each_agent>
			 
			<initial_condition enabled="false" type="matlab">
				<filename>./config/initial.mat</filename>
			</initial_condition>
			 
			<dirichlet_nodes enabled="false" type="matlab">
				<filename>./config/dirichlet.mat</filename>
			</dirichlet_nodes>
		</options>
	</microenvironment_setup>	
	
	<cell_definitions>
		<cell_definition ID="0" name="default">
			<phenotype>
				<cycle code="5" name="live">
					 
					
					
					<phase_transition_rates units="1/min"> 
						<rate end_index="0" fixed_duration="false" start_index="0">0.00072</rate>
					</phase_transition_rates>					
					
					
				</cycle>
				
				<death>
					<model code="100" name="apoptosis"> 
						<death_rate units="1/min">5.31667e-05</death_rate>
						<phase_durations units="min">
							<duration fixed_duration="true" index="0">516</duration>
						</phase_durations>
						<parameters>
							<unlysed_fluid_change_rate units="1/min">0.05</unlysed_fluid_change_rate>
							<lysed_fluid_change_rate units="1/min">0.0</lysed_fluid_change_rate>
							<cytoplasmic_biomass_change_rate units="1/min">0.0166667</cytoplasmic_biomass_change_rate>
							<nuclear_biomass_change_rate units="1/min">0.00583333</nuclear_biomass_change_rate>
							<calcification_rate units="1/min">0.0</calcification_rate>
							<relative_rupture_volume units="dimensionless">2.0</relative_rupture_volume>
						</parameters>
					</model> 

					<model code="101" name="necrosis">
						<death_rate units="1/min">0.0</death_rate>
						<phase_durations units="min">
							<duration fixed_duration="true" index="0">0</duration>
							<duration fixed_duration="true" index="1">86400</duration>
						</phase_durations>
						
						<parameters>
							<unlysed_fluid_change_rate units="1/min">0.05</unlysed_fluid_change_rate>
							<lysed_fluid_change_rate units="1/min">0.0</lysed_fluid_change_rate>
							<cytoplasmic_biomass_change_rate units="1/min">0.0166667</cytoplasmic_biomass_change_rate>
							<nuclear_biomass_change_rate units="1/min">0.00583333</nuclear_biomass_change_rate>
							<calcification_rate units="1/min">0.0</calcification_rate>
							<relative_rupture_volume units="dimensionless">2.0</relative_rupture_volume>
						</parameters>
					</model> 
				</death>					

				<volume>  
					<total units="micron^3">2494.0</total>
					<fluid_fraction units="dimensionless">0.75</fluid_fraction>
					<nuclear units="micron^3">540.0</nuclear>
					
					<fluid_change_rate units="1/min">0.05</fluid_change_rate>
					<cytoplasmic_biomass_change_rate units="1/min">0.0045</cytoplasmic_biomass_change_rate>
					<nuclear_biomass_change_rate units="1/min">0.0055</nuclear_biomass_change_rate>
					
					<calcified_fraction units="dimensionless">0.0</calcified_fraction>
					<calcification_rate units="1/min">0.0</calcification_rate>
					
					<relative_rupture_volume units="dimensionless">2.0</relative_rupture_volume>
				</volume> 				
				
				<mechanics> 
					<cell_cell_adhesion_strength units="micron/min">0.4</cell_cell_adhesion_strength>
					<cell_cell_repulsion_strength units="micron/min">10.0</cell_cell_repulsion_strength>
					<relative_maximum_adhesion_distance units="dimensionless">1.25</relative_maximum_adhesion_distance>
					
					<options>
						<set_relative_equilibrium_distance enabled="False" units="dimensionless">1.8</set_relative_equilibrium_distance>
						<set_absolute_equilibrium_distance enabled="False" units="micron">15.12</set_absolute_equilibrium_distance>
					</options>
				</mechanics>
				
				<motility>  
					<speed units="micron/min">1.0</speed>
					<persistence_time units="min">1.0</persistence_time>
					<migration_bias units="dimensionless">0.5</migration_bias>
					
					<options>
						<enabled>False</enabled>
						<use_2D>True</use_2D>
						<chemotaxis>
							<enabled>False</enabled>
							<substrate>resource</substrate>
							<direction>1</direction>
						</chemotaxis>
					</options>
				</motility>
				
				<secretion>
					<substrate name="resource">
						<secretion_rate units="1/min">0.0</secretion_rate>
						<secretion_target units="substrate density">1.0</secretion_target>
						<uptake_rate units="1/min">10.0</uptake_rate>
						<net_export_rate units="total substrate/min">0.0</net_export_rate> 
					</substrate> 

					<substrate name="signal A">
						<secretion_rate units="1/min">0.0</secretion_rate>
						<secretion_target units="substrate density">1.0</secretion_target>
						<uptake_rate units="1/min">0.0</uptake_rate>
						<net_export_rate units="total substrate/min">0.0</net_export_rate> 
					</substrate> 
						
					<substrate name="signal B">
						<secretion_rate units="1/min">0.0</secretion_rate>
						<secretion_target units="substrate density">1.0</secretion_target>
						<uptake_rate units="1/min">0.0</uptake_rate>
						<net_export_rate units="total substrate/min">0.0</net_export_rate> 
					</substrate> 	

					<substrate name="signal C">
						<secretion_rate units="1/min">0.0</secretion_rate>
						<secretion_target units="substrate density">1.0</secretion_target>
						<uptake_rate units="1/min">0.0</uptake_rate>
						<net_export_rate units="total substrate/min">0.0</net_export_rate> 
					</substrate> 	
				</secretion>

				<molecular />
			</phenotype>
			<custom_data>  
				<relative_sated_volume units="dimensionless">1.5</relative_sated_volume>
			</custom_data>
		</cell_definition>
		
		<cell_definition ID="1" name="A" parent_type="default">
			<phenotype>
				<cycle code="5" name="live">
					<phase_transition_rates units="1/min"> 
						<rate end_index="0" fixed_duration="false" start_index="0">0.00072</rate>
					</phase_transition_rates>					
				</cycle>
				<death>  
					<model code="100" name="apoptosis"> 
						<death_rate units="1/min">1e-05</death_rate>
					</model> 
	
					<model code="101" name="necrosis">
						<death_rate units="1/min">0.01</death_rate>
					</model> 
				</death>					
				<volume>  
				</volume> 				
				<mechanics> 
					<cell_cell_adhesion_strength units="micron/min">0.4</cell_cell_adhesion_strength>
					<cell_cell_repulsion_strength units="micron/min">10.0</cell_cell_repulsion_strength>
					<relative_maximum_adhesion_distance units="dimensionless">1.5</relative_maximum_adhesion_distance>
					<options>
						<set_relative_equilibrium_distance enabled="True" units="dimensionless">1.8</set_relative_equilibrium_distance>
						<set_absolute_equilibrium_distance enabled="False" units="micron">15.12</set_absolute_equilibrium_distance>
					</options>
				</mechanics>
				
				<motility>  
					<speed units="micron/min">0.25</speed>
					<persistence_time units="min">1.0</persistence_time>
					<migration_bias units="dimensionless">0.5</migration_bias>
					
					<options>
						<enabled>False</enabled>
						<chemotaxis>
							<enabled>True</enabled>
							<substrate>signal B</substrate>
							<direction>1</direction>
						</chemotaxis>
					</options>
				</motility>
				
				<secretion>
					<substrate name="signal A">
						<secretion_rate units="1/min">1.0</secretion_rate>
					</substrate> 
				</secretion>

				<molecular />
			</phenotype>
			<custom_data>  
			</custom_data>
		</cell_definition>

		<cell_definition ID="2" name="B" parent_type="default">
			<phenotype>
				<cycle code="5" name="live">
					<phase_transition_rates units="1/min"> 
						<rate end_index="0" fixed_duration="false" start_index="0">0.00072</rate>
					</phase_transition_rates>					
				</cycle>
				<death>  
					<model code="100" name="apoptosis"> 
						<death_rate units="1/min">1e-05</death_rate>
					</model> 

					<model code="101" name="necrosis">
						<death_rate units="1/min">0.01</death_rate>
					</model> 
				</death>					
				<volume>  
				</volume> 				
				<mechanics> 
					<cell_cell_adhesion_strength units="micron/min">0.4</cell_cell_adhesion_strength>
					<cell_cell_repulsion_strength units="micron/min">10.0</cell_cell_repulsion_strength>
					<relative_maximum_adhesion_distance units="dimensionless">1.25</relative_maximum_adhesion_distance>
					<options>
						<set_relative_equilibrium_distance enabled="False" units="dimensionless">1.8</set_relative_equilibrium_distance>
						<set_absolute_equilibrium_distance enabled="False" units="micron">15.12</set_absolute_equilibrium_distance>
					</options>
				</mechanics>
				
				<motility>  
					<speed units="micron/min">0.25</speed>
					<persistence_time units="min">1.0</persistence_time>
					<migration_bias units="dimensionless">0.5</migration_bias>
					
					<options>
						<enabled>False</enabled>
						<chemotaxis>
							<enabled>True</enabled>
							<substrate>signal C</substrate>
							<direction>1</direction>
						</chemotaxis>
					</options>
				</motility>
				
				<secretion>
					<substrate name="signal B">
						<secretion_rate units="1/min">1.0</secretion_rate>
					</substrate> 	
				</secretion>

				<molecular />
			</phenotype>
			<custom_data>  
			</custom_data>
		</cell_definition>

		<cell_definition ID="3" name="C" parent_type="default">
			<phenotype>
				<cycle code="5" name="live">
					<phase_transition_rates units="1/min"> 
						<rate end_index="0" fixed_duration="false" start_index="0">0.00072</rate>
					</phase_transition_rates>					
				</cycle>
				<death>  
					<model code="100" name="apoptosis"> 
						<death_rate units="1/min">1e-05</death_rate>
					</model> 

					<model code="101" name="necrosis">
						<death_rate units="1/min">0.01</death_rate>
					</model> 
				</death>					
				<volume>  
				</volume> 				
				<mechanics> 
					<cell_cell_adhesion_strength units="micron/min">0.4</cell_cell_adhesion_strength>
					<cell_cell_repulsion_strength units="micron/min">10.0</cell_cell_repulsion_strength>
					<relative_maximum_adhesion_distance units="dimensionless">1.25</relative_maximum_adhesion_distance>
					<options>
						<set_relative_equilibrium_distance enabled="False" units="dimensionless">1.8</set_relative_equilibrium_distance>
						<set_absolute_equilibrium_distance enabled="False" units="micron">15.12</set_absolute_equilibrium_distance>
					</options>
				</mechanics>
				
				<motility>  
					<speed units="micron/min">0.25</speed>
					<persistence_time units="min">1.0</persistence_time>
					<migration_bias units="dimensionless">0.5</migration_bias>
					
					<options>
						<enabled>False</enabled>
						<chemotaxis>
							<enabled>True</enabled>
							<substrate>signal A</substrate>
							<direction>1</direction>
						</chemotaxis>
					</options>
				</motility>
				
				<secretion>
					<substrate name="signal C">
						<secretion_rate units="1/min">1.0</secretion_rate>
					</substrate> 
				</secretion>

				<molecular />
			</phenotype>
			<custom_data>  
			</custom_data>
		</cell_definition>
		
	</cell_definitions>
	
	
	
	<user_parameters>
		<random_seed type="int" units="dimensionless">0</random_seed> 
		 
		
		<div_initialization description="---Initialization settings---" type="divider" />
		
		<number_of_A description="initial number of A" type="int" units="none">25</number_of_A>  
		<number_of_B description="initial number of B" type="int" units="none">25</number_of_B>
		<number_of_C description="initial number of C" type="int" units="none">25</number_of_C>
		<max_distance_from_origin description="max initial distance of cells from (0,0,0)" type="double" units="micron">150.0</max_distance_from_origin>
		
		<div_coloring description="---Coloring settings---" type="divider" />

		<A_color description="color for A cells" type="string">magenta</A_color>  
		<B_color description="color for B cells" type="string">green</B_color>
		<C_color description="color for C cells" type="string">cyan</C_color>
		
		<standard_plots description="Enable additional standard plots?" type="bool">False</standard_plots>
	
		<div_signaling description="---Overall signaling settings---" type="divider" />
		<hill_power description="Hill power for signal responses" type="double" units="none">5.0</hill_power>  
		<half_max description="half max for signal responses" type="double" units="none">0.1</half_max>  
		
		<div_A description="---cell type A settings---" type="divider" />
		 
		<A_base_cycle description="base cell cycling rate for type A" type="double" units="1/min">0.00072</A_base_cycle>
		<A_max_cycle description="maximum cell cycling rate for type A" type="double" units="1/min">0.0072</A_max_cycle>
		<A_cycle_A description="impact of signal A on A cycling (promote, inhibit, or neutral)" type="string">neutral</A_cycle_A>
		<A_cycle_B description="impact of signal B on A cycling (promote, inhibit, or neutral)" type="string">neutral</A_cycle_B>
		<A_cycle_C description="impact of signal C on A cycling (promote, inhibit, or neutral)" type="string">neutral</A_cycle_C>
		<A_cycle_pressure_threshold description="pressure above threshold inhibits A cycling" type="double">2.0</A_cycle_pressure_threshold>

		 
		<A_base_death description="base cell death rate for type A" type="double" units="1/min">5.31667e-05</A_base_death>
		<A_max_death description="maximum cell death rate for type A" type="double" units="1/min">0.000531667</A_max_death>
		<A_death_A description="impact of signal A on A apoptosis (promote, inhibit, or neutral" type="string">neutral</A_death_A>
		<A_death_B description="impact of signal B on A apoptosis (promote, inhibit, or neutral" type="string">neutral</A_death_B>
		<A_death_C description="impact of signal C on A apoptosis (promote, inhibit, or neutral" type="string">neutral</A_death_C>
		<A_death_R description="impact of resource on A apoptosis (promote, inhibit, or neutral" type="string">neutral</A_death_R>
		<A_apoptosis_pressure_threshold description="pressure above threshold triggers apoptosis" type="double">100.0</A_apoptosis_pressure_threshold>

		<A_necrosis_threshold description="necrosis of A cells begins below this resource threshold" type="double">0.4</A_necrosis_threshold>

		 
		<A_base_speed description="base speed for type A" type="double" units="micron/min">0.1</A_base_speed>
		<A_max_speed description="maximum speed for type A" type="double" units="micron/min">1.0</A_max_speed>
		<A_speed_A description="impact of signal A on A motility (promote, inhibit, or neutral" type="string">neutral</A_speed_A>
		<A_speed_B description="impact of signal B on A motility (promote, inhibit, or neutral" type="string">neutral</A_speed_B>
		<A_speed_C description="impact of signal C on A motility (promote, inhibit, or neutral" type="string">neutral</A_speed_C>
		<A_speed_R description="impact of resource on A motility (promote, inhibit, or neutral" type="string">neutral</A_speed_R>

		 
		<A_base_secretion description="base secretion rate of signal A by type A" type="double" units="1/min">0.0</A_base_secretion>
		<A_max_secretion description="max secretion rate of signal A by type A" type="double" units="1/min">1.0</A_max_secretion>
		<A_signal_A description="impact of signal A on A secretion (promote, inhibit, or neutral" type="string">neutral</A_signal_A>
		<A_signal_B description="impact of signal B on A secretion (promote, inhibit, or neutral" type="string">neutral</A_signal_B>
		<A_signal_C description="impact of signal C on A secretion (promote, inhibit, or neutral" type="string">neutral</A_signal_C>
		<A_signal_R description="impact of resource on A secretion (promote, inhibit, or neutral" type="string">neutral</A_signal_R>


		<div_B description="---cell type B settings---" type="divider" />
		<B_base_cycle description="base cell cycling rate for type B" type="double" units="1/min">0.00072</B_base_cycle>
		<B_max_cycle description="maximum cell cycling rate for type B" type="double" units="1/min">0.0072</B_max_cycle>
		<B_cycle_A description="impact of signal A on B cycling (promote, inhibit, or neutral)" type="string">neutral</B_cycle_A>
		<B_cycle_B description="impact of signal B on B cycling (promote, inhibit, or neutral)" type="string">neutral</B_cycle_B>
		<B_cycle_C description="impact of signal C on B cycling (promote, inhibit, or neutral)" type="string">neutral</B_cycle_C>
		<B_cycle_pressure_threshold description="pressure above threshold inhibits B cycling" type="double">2.0</B_cycle_pressure_threshold>

		<B_base_death description="base cell death rate for type B" type="double" units="1/min">5.31667e-05</B_base_death>
		<B_max_death description="maximum cell death rate for type B" type="double" units="1/min">0.000531667</B_max_death>
		<B_death_A description="impact of signal A on B apoptosis (promote, inhibit, or neutral" type="string">neutral</B_death_A>
		<B_death_B description="impact of signal B on B apoptosis (promote, inhibit, or neutral" type="string">neutral</B_death_B>
		<B_death_C description="impact of signal C on B apoptosis (promote, inhibit, or neutral" type="string">neutral</B_death_C>
		<B_death_R description="impact of resource on B apoptosis (promote, inhibit, or neutral" type="string">neutral</B_death_R>
		<B_apoptosis_pressure_threshold description="pressure above threshold triggers apoptosis" type="double">100.0</B_apoptosis_pressure_threshold>

		<B_necrosis_threshold description="necrosis of B cells begins below this resource threshold" type="double">0.4</B_necrosis_threshold>

		<B_base_speed description="base speed for type B" type="double" units="micron/min">0.1</B_base_speed>
		<B_max_speed description="maximum speed for type B" type="double" units="micron/min">1.0</B_max_speed>
		<B_speed_A description="impact of signal A on B motility (promote, inhibit, or neutral" type="string">neutral</B_speed_A>
		<B_speed_B description="impact of signal B on B motility (promote, inhibit, or neutral" type="string">neutral</B_speed_B>
		<B_speed_C description="impact of signal C on B motility (promote, inhibit, or neutral" type="string">neutral</B_speed_C>
		<B_speed_R description="impact of resource on B motility (promote, inhibit, or neutral" type="string">neutral</B_speed_R>

		 
		<B_base_secretion description="base secretion rate of signal B by type B" type="double" units="1/min">0.0</B_base_secretion>
		<B_max_secretion description="max secretion rate of signal B by type B" type="double" units="1/min">1.0</B_max_secretion>
		<B_signal_A description="impact of signal A on B secretion (promote, inhibit, or neutral" type="string">neutral</B_signal_A>
		<B_signal_B description="impact of signal B on B secretion (promote, inhibit, or neutral" type="string">neutral</B_signal_B>
		<B_signal_C description="impact of signal C on B secretion (promote, inhibit, or neutral" type="string">neutral</B_signal_C>
		<B_signal_R description="impact of resource on B secretion (promote, inhibit, or neutral" type="string">neutral</B_signal_R>

		<div_C description="---cell type C settings---" type="divider" />
		<C_base_cycle description="base cell cycling rate for type C" type="double" units="1/min">0.00072</C_base_cycle>
		<C_max_cycle description="maximum cell cycling rate for type C" type="double" units="1/min">0.0072</C_max_cycle>
		<C_cycle_A description="impact of signal A on C cycling (promote, inhibit, or neutral)" type="string">neutral</C_cycle_A>
		<C_cycle_B description="impact of signal B on C cycling (promote, inhibit, or neutral)" type="string">neutral</C_cycle_B>
		<C_cycle_C description="impact of signal C on C cycling (promote, inhibit, or neutral)" type="string">neutral</C_cycle_C>
		<C_cycle_pressure_threshold description="pressure above threshold inhibits C cycling" type="double">2.0</C_cycle_pressure_threshold>

		<C_base_death description="base cell death rate for type C" type="double" units="1/min">5.31667e-05</C_base_death>
		<C_max_death description="maximum cell death rate for type C" type="double" units="1/min">0.000531667</C_max_death>
		<C_death_A description="impact of signal A on C apoptosis (promote, inhibit, or neutral" type="string">neutral</C_death_A>
		<C_death_B description="impact of signal B on C apoptosis (promote, inhibit, or neutral" type="string">neutral</C_death_B>
		<C_death_C description="impact of signal C on C apoptosis (promote, inhibit, or neutral" type="string">neutral</C_death_C>
		<C_death_R description="impact of resource on C apoptosis (promote, inhibit, or neutral" type="string">neutral</C_death_R>
		<C_apoptosis_pressure_threshold description="pressure above threshold triggers apoptosis" type="double">100.0</C_apoptosis_pressure_threshold>
		
		<C_necrosis_threshold description="necrosis of C cells begins below this resource threshold" type="double">0.4</C_necrosis_threshold>

		<C_base_speed description="base speed for type C" type="double" units="micron/min">0.1</C_base_speed>
		<C_max_speed description="maximum speed for type C" type="double" units="micron/min">1.0</C_max_speed>
		<C_speed_A description="impact of signal A on C motility (promote, inhibit, or neutral" type="string">neutral</C_speed_A>
		<C_speed_B description="impact of signal B on C motility (promote, inhibit, or neutral" type="string">neutral</C_speed_B>
		<C_speed_C description="impact of signal C on C motility (promote, inhibit, or neutral" type="string">neutral</C_speed_C>
		<C_speed_R description="impact of resource on C motility (promote, inhibit, or neutral" type="string">neutral</C_speed_R>

		 
		<C_base_secretion description="base secretion rate of signal C by type C" type="double" units="1/min">0.0</C_base_secretion>
		<C_max_secretion description="max secretion rate of signal C by type C" type="double" units="1/min">1.0</C_max_secretion>
		<C_signal_A description="impact of signal A on C secretion (promote, inhibit, or neutral" type="string">neutral</C_signal_A>
		<C_signal_B description="impact of signal B on C secretion (promote, inhibit, or neutral" type="string">neutral</C_signal_B>
		<C_signal_C description="impact of signal C on C secretion (promote, inhibit, or neutral" type="string">neutral</C_signal_C>
		<C_signal_R description="impact of resource on C secretion (promote, inhibit, or neutral" type="string">neutral</C_signal_R>
		
		
		<div_danger description="---Danger Zone (Advanced Settings)---" type="divider" />
		<dt_diffusion description="diffusion time step size" type="double" units="min">0.01</dt_diffusion>
		<dt_mechanics description="mechanics time step size" type="double" units="min">0.1</dt_mechanics>
		<dt_phenotype description="phenotype time step size" type="double" units="min">6.0</dt_phenotype>	

	</user_parameters>
	
</PhysiCell_settings>